body {
	background-color:powderblue;
}
h1 { 
	text-align:center;   
	font-style: bold;
	color: purple;
}
a, h1, h2, h3, p {
	font-family: "Times New Roman", Times, serif;
}
a, p {
	font-size: 20x;
}
a {
	font-style: italic;
	font-style: bold;
	color: red;
}
table {
  	font-family: "Times New Roman", Times, serif;
	border: 1px solid black;
}
td, th {
 	border: 1px solid black;
 	text-align: left;
  	padding: 8px;
}

